# Binary files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go build outputs
/bin/
/build/
*.out

# IDE/editor files
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*           # jika ada multiple env files

# Logs
*.log

# Temporary or cache files
*.tmp
*.swp
*.bak
